html,body {
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

/* colors for headings  between #66FFFF/#6600FF */
h1.title {
	font-weight: bold;
	color: #66D9FF;
}

h2.interest {
	font-weight: bold;
	color: #6673FF;
}

h3.subinterest {
	font-weight: bold;
	color: #6626FF;
}

.item,.active{height:100%;
				width: 100%;}

.item img {
  width:100%;
  height: 100%;
}

/* fixing carousel*/
.carousel {
	 height: 100%;
     width:100% !important; 
     overflow: hidden !important; 
     right:0 !important; 
}
.carousel-inner{height:100%;
	width: 100%;}

.jumbotron{
	border-bottom-left-radius: 25px;
}

.div{
	padding: 25px 100px 25px 100px;
}

/* fixing issue in the mobile nav bar */
.navbar {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 50px;
}
 
main {
  margin-bottom:50px;
}